@import url(https://fonts.googleapis.com/css?family=Raleway);

*{
margin: 0;
padding: 0;
}

body  
{  
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
    background: #ffffff url('../images/background.jpg') no-repeat top center fixed;
  background-size:cover;
}  

.part1{
	font-family: 'Raleway', sans-serif;
}

#header{
/* Permalink - use to edit and share this gradient: //colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
background: #606c88; /* Old browsers */
background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

	color:white;
	height: 30px;
	text-align: left;
	padding-left: 5%;
	padding-top:5px;
	border-bottom: 2px solid #FB9B39;
	 box-shadow: 2px 2px 2px #000;
}

#logo{
	width:60px;
	float: left;
	margin: 5px;
	
}

#header > h1{
	font-size: 1.2em;
	color:#FB9B39;
	line-height: 1.8;
}

#header > h2{
	font-size: 1.4em;
	color:white;
}

h3{
	color:#0054a6;
}

#theDate{
	text-align: right;
	font-size: 0.8em;
	color:#ffffff;
	margin:5px;
	padding-right: 5%;
}

#wrapper, #reactions{
	max-width: 500px;
	display: block;
	margin: auto;
	background: #ffffff;
	padding:15px;
	border: 2px solid #0054a6;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#intro{
	text-align: center;
}

#reactions{
	margin-top: 10px;
}

.mainImg{
	display: block;
	margin:auto;
	padding-bottom: 15px;
	padding-top: 15px;
	width:100%;
	
}

#questionBox{
	margin: auto;
	margin-top: 10px;
	max-width: 320px;
	text-align: center;
	margin-bottom: 20px;
}

#gift{
	    vertical-align: sub;
	    margin-right: 10px;
	    width: 22px;
}

.question{
	/* Permalink - use to edit and share this gradient: //colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

	width: 100px;
	padding: 10px;
	display: inline-block;
	border: 1px solid silver;
	box-shadow: 1px 1px 2px #888888;
}

#fillin{
	border: 2px solid #0054a6;
	font-size: 1em;
border-radius: 25px;
	padding: 8px;
	background: white;
	color:#101394;
}

#continue{
	text-align: center;
	margin: auto;
	background-color: green;
	width:200px;
	color: white;
	border: 1px solid #336D27;
	padding: 10px 5px 10px 5px;
	cursor: pointer;
	border-radius: 20px;
	margin-top: -10px;
}

#continue2{
	text-align: center;
	margin: auto;
	background-color: green;
	width:200px;
	color: white;
	border: 1px solid #336D27;
	padding: 10px 5px 10px 5px;
	cursor: pointer;
	border-radius: 20px;
	margin-top: 20px;
	font-size: 1.5em;
}

#reactions > h1{
	font-size: 1em;
	color: #000;
}

.comment{
	margin-top: 10px;
	background-color: #dfe6ff;
	padding: 5px 0px 5px 0px;
}

.profile{
	width: 60px;
}

#commentContent{
	    float: right;
    margin-right: 20px;
    font-size: 0.7em;
    width: 212px;
}

.name{
	color: #235DB7;
    font-weight: 900;

}

#loader{
	margin: auto;
	display: block;
	display: none;
}

.part2, #p3 , #p2, #p1, #continue2, #welldone{
	display: none;
}

.numberCheck{
	border: 2px solid #0054a6;
	font-size: 1em;
	padding: 7px;
	border-radius: 25px;
	background: white;
	color:#101394;
	float: left;
	margin-top: -6px;
	margin-left: 3%;

	}

	#welldone{
		font-size: 12px;
		text-align: center;
		color: #0054a6;
	}


#possible{
	margin-bottom: 15px;
	font-size: 19px;
}

@media(min-width: 700px){



#theDate{
	margin-right: 32%;
}

#commentContent{
	    margin-right: 220px;
}

.numberCheck{
	margin-left: 20%;
}

#welldone{
	width:34em;
}

}